.cursor {
  position: fixed;
  top: 0;
  left: 0;
  width: 30px;
  height: 30px;
  border: 0.5px solid #fff;
  border-radius: 50%;
  pointer-events: none;
  z-index: 9999;
  transform-origin: center;
  transform: translate(-50%, -50%) scale(1);
  transition: transform 0.3s ease-in-out, opacity 0.3s ease-in-out;
  display: flex;
  justify-content: center;
  align-items: center;
  @include lg {
    display: none;
  }
}

a:hover,
button:hover {
  cursor: none;
}

a:hover + .cursor,
button:hover + .cursor {
  display: block;
}

.circle {
  width: 2px;
  height: 2px;
  background-color: #fff;
  border-radius: 50%;
}
