<div class="loading">
    <div class="loading__container">
        <!-- <div class="loading__text_container"> -->
            <h2 class="loading__text" data-splitting data-normal>
                <span class="loading__text_normal">L</span><span class="loading__text_italic">O</span><span class="loading__text_normal" >ADI</span><span class="loading__text_italic">N</span><span class="loading__text_normal">G</span>
            </h2>
        <!-- </div> -->
        <div id="preloader__num">0%</div>
    </div>
</div>
