<div class="popup time-popup" id="time-popup">
    <div class="popup__overlay"></div>
    <div class="popup__body">
        <div class="popup__row">
            <div class="popup__bg-first"></div>
            <form class="popup__form" action="https://form.sales-inquiries.ae/logger/form_receiver/" data-gtag-submit="modal"
                method="post">
                <div class="popup__form-wrapper">
                </div>
                <div class="popup__form-container">
                    <button class="popup-close popup__close hover popup__close-md" type="button">
                        <svg width="25" height="24" viewBox="0 0 25 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M1.19141 1L23.3811 23" stroke="#8F8F8F" stroke-width="2" stroke-linecap="round" />
                            <path d="M23.1914 1L1.00175 23" stroke="#8F8F8F" stroke-width="2" stroke-linecap="round" />
                        </svg>
                    </button>
                    <div class="popup__form-logo">
                        <img src="img/logo-dark.svg" alt="">
                    </div>
                    <h3 class="popup__form-title">get <span>information</span></h3>
                    <div class="popup__input">
                        <input type="text" name="name" id="namePopupTime" placeholder="Your name"
                            required>
                        <label for="namePopupTime">
                            <svg width="32" height="33" viewBox="0 0 32 33" fill="none"
                                xmlns="http://www.w3.org/2000/svg">
                                <path
                                    d="M15.9987 16.2591C19.6806 16.2591 22.6654 13.2743 22.6654 9.59245C22.6654 5.91055 19.6806 2.92578 15.9987 2.92578C12.3168 2.92578 9.33203 5.91055 9.33203 9.59245C9.33203 13.2743 12.3168 16.2591 15.9987 16.2591Z"
                                    stroke="black" stroke-width="1.5" stroke-linecap="round"
                                    stroke-linejoin="round" />
                                <path
                                    d="M27.4535 29.5911C27.4535 24.4311 22.3202 20.2578 16.0002 20.2578C9.6802 20.2578 4.54688 24.4311 4.54688 29.5911"
                                    stroke="black" stroke-width="1.5" stroke-linecap="round"
                                    stroke-linejoin="round" />
                            </svg>
                            Your name
                        </label>
                    </div>
                    <div class="popup__input">
                        <input type="email" name="email" id="emailPopupTime" placeholder="Your email"
                            required>
                        <label for="emailPopupTime">
                            <svg width="32" height="33" viewBox="0 0 32 33" fill="none"
                                xmlns="http://www.w3.org/2000/svg">
                                <path
                                    d="M22.668 27.5924H9.33464C5.33464 27.5924 2.66797 25.5924 2.66797 20.9258V11.5924C2.66797 6.92578 5.33464 4.92578 9.33464 4.92578H22.668C26.668 4.92578 29.3346 6.92578 29.3346 11.5924V20.9258C29.3346 25.5924 26.668 27.5924 22.668 27.5924Z"
                                    stroke="black" stroke-width="1.5" stroke-miterlimit="10"
                                    stroke-linecap="round" stroke-linejoin="round" />
                                <path
                                    d="M22.6654 12.2578L18.492 15.5911C17.1187 16.6845 14.8654 16.6845 13.492 15.5911L9.33203 12.2578"
                                    stroke="black" stroke-width="1.5" stroke-miterlimit="10"
                                    stroke-linecap="round" stroke-linejoin="round" />
                            </svg>
                            Your email
                        </label>
                    </div>
                    <div class="popup__input popup__input-phone">
                        <input type="tel" name="phone" placeholder="Phone number" required="required" />
                    </div>
                </div>
                <input type="hidden" name="project" value="elora" />
                <input type="hidden" name="description" value="page_form" />
                <input type="hidden" name="duration" class="duration" value="" />
                <input type="hidden" name="pasted_fields" class="pasted_fields" value="" />
                <input type="hidden" name="language" value="english" />
                <input type="hidden" name="current_page" value="" />
                <div class="popup__button">
                    <button class="button-light" type="submite">
                        <div class="button-light__container" aria-hidden="true">
                            <span class="button-light__arrow">
                                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="16" viewBox="0 0 24 16"
                                    fill="none">
                                    <path d="M16.3047 0.826172L23.0003 7.52182L16.3047 14.6957" stroke="none"
                                        stroke-width="1.43478" stroke-linecap="round" />
                                    <path d="M23 7.52148H1" stroke="none" stroke-width="1.43478"
                                        stroke-linecap="round" />
                                </svg>
                            </span>
                            <span class="button-light__text">Enquire</span>
                        </div>
                    </button>
                </div>
            </form>
        </div>
    </div>
</div>
